<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>MirrorLabs</title>
    <link rel="stylesheet" href="{{ get_url(path='style.css') | safe }}" />
  </head>

  <body>
    <div class="header">
      <div>
        <a class="header-title" href="{{ get_url(path='./') | safe }}"
          >MirrorLabs</a
        >
        <a href="https://github.com/Mirror-Labs">
          <img
            class="social-link"
            width="20"
            src="{{ get_url(path='icons/github.svg') | safe }}"
            usemap="#image-map"
          />
        </a>
      </div>
      <div class="header-links">
        <a href="{{ get_url(path='@/blog/_index.md') }}">/posts</a>
        <a href="{{ get_url(path='@/projects/_index.md') }}">/projects</a>
        <a href="{{ get_url(path='@/people/_index.md') }}">/people</a>
      </div>
    </div>

    <section class="section">
      <div class="container">
        {% block header %} {% endblock %} {% block content %} {% endblock %}
      </div>
    </section>
  </body>
</html>
