<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>MirrorLabs</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <link rel="stylesheet" href="{{ get_url(path='style.css') | safe }}" />
  </head>

  <body>
    <div class="header">
      <div class="header-left">
        <a class="header-title" href="{{ get_url(path='./') | safe }}"
          >MirrorLabs</a
        >
        <a href="https://github.com/Mirror-Labs">
          <img
            class="social-link"
            width="24"
            src="{{ get_url(path='icons/github.svg') | safe }}"
          />
        </a>
      </div>
      <div class="header-links">
        <a href="{{ get_url(path='@/posts/_index.md') }}">/posts</a>
        <a href="{{ get_url(path='@/projects/_index.md') }}">/projects</a>
        <a href="{{ get_url(path='@/people/_index.md') }}">/people</a>
      </div>
    </div>

    <section class="section">
      <div class="container">
        {% block header %} {% endblock %} {% block content %} {% endblock %}
      </div>
    </section>
  </body>
</html>
