{% extends "base.html" %}
<!-- -->

{% block linkedData %}
<meta name="twitter:card" content="summary" />
{# <meta name="twitter:site:id" content="@MirrorLabs" /> #} {#
<meta name="twitter:creator:id" content="@HampusFrank" /> #}
<meta property="og:url" content="{{ current_url }}" />
<meta
  property="og:title"
  content="MirrorLabs: making the future decentralized"
/>
<meta
  property="og:description"
  content="Building a local-first database for the web"
/>
<meta
  property="og:image"
  content="{{ get_url(path='logo/MirrorLabs-logo-black.jpeg') | safe }}"
/>
<meta property="og:image:alt" content="The MirrorLabs logo" />

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@id": "{{ get_url(path='') | safe }}",
    "@type": "Organization",
    "name": "MirrorLabs",
    "founder" : "{{ get_url(path='/people#frank-hampus-weslien') | safe }}",
    "member": [
      {
        "@type": "OrganizationRole",
        "member": {
          "@id": "{{ get_url(path='/people#frank-hampus-weslien') | safe }}" },
        },
        "startDate": "2022-11-05",
        "roleName": "Chief Web Magician"
      }
    ],
    "url": "{{ get_url(path='') | safe }}",
    "image": "{{ get_url(path='logo/MirrorLabs-logo-black.svg') | safe }}",
    "keywords": ["decentralization", "startup"],
    "description": "We are building an application centric p2p database for the browser."
  }
</script>
{% endblock linkedData %} {% block content %}

<img
  class="logo"
  width="240"
  src="{{ get_url(path='logo/MirrorLabs-logo-black.svg') | safe }}"
/>

<div class="text-container">{{ section.content | safe }}</div>
{% endblock content %}
