{% extends "base.html" %}
<!-- -->

{% block linkedData %}
<meta name="twitter:card" content="summary" />
{# <meta name="twitter:site:id" content="@MirrorLabs" /> #} {#
<meta name="twitter:creator:id" content="@HampusFrank" /> #}
<meta property="og:url" content="{{ current_url }}" />
<meta property="og:site_name" content="MirrorLabs" />
<meta
  property="og:title"
  content="MirrorLabs: making the future decentralized"
/>
<meta
  property="og:description"
  content="Building a local-first database for the web"
/>
<meta
  property="og:image"
  content="{{ get_url(path='logo/MirrorLabs-logo-black.jpeg') | safe }}"
/>
<meta property="og:image:alt" content="The MirrorLabs logo" />
{% endblock linkedData %} {% block content %}

<img
  class="logo"
  width="240"
  src="{{ get_url(path='logo/MirrorLabs-logo-black.svg') | safe }}"
/>

<div class="text-container">{{ section.content | safe }}</div>
{% endblock content %}
